footer.row
	.large-12.columns
		hr
		.row
			.large-6.columns
				p Create by Austin Bratcher
			.large-6.columns
				ul.inline-list.right
					li.sermons_nav
						a(href='#') Blog
					li.interests_nav
						a(href='#') Interests
					li.bible_nav
						a(href='#') Bible + Spritz
					li.resumes_nav
						a(href='#') Experience
					li.contact_nav
						a(href='#') Contact

script(src="/javascripts/foundation.min.js")
script(src="/javascripts/custom/navbar.js")
script.
	$(document).foundation()
