.contain-to-grid.sticky
	nav.top-bar(data-topbar='')
		ul.title-area
			li.name
				h1.home_nav
					a(href='#') Austin Bratcher
			// Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
			li.toggle-topbar.menu-icon
				a(href='#')
					span Menu
		section.top-bar-section
			//
				Right Nav Section 
			ul.right
				li.blog_nav
					a(href='#') Blog
				li.interests_nav
					a(href='#') Interests
				li.bible_nav
					a(href='#') Bible + Spritz
				li.has-dropdown.resumes_nav
					a(href='#') Experience
					ul.dropdown
						li.prof_resume_nav
							a(href='#') Software
						li.min_resume_nav
							a(href='#') Ministry
				li.contact_nav
					a(href='#') Contact Me
				//
					Left Nav Section
						<ul class="left">
							<li><a href="#">Left Nav Button</a></li>
						</ul> 
