extends layout

block content
	.row
		.large-6.columns
			h1= title
			form#formAddUser(name="addpost",method="post",action="add")
				span Post Name
				input#inputPostName(type="text", placeholder="Post Name", name="postname")
				div
					span Category
					select#inputCategories(name="category")
						- each category in categories
							option#inputCategory(value"#{category}") #{category}
				br
				Span Key Words
				input#inputKeywords(type="text", placeholder="Key Words", name="keywords")
				Span Jade Path
				input#inputJadePath(type="text", placeholder="Jade Path", name="jadepath")
				Span Abstract Image Path
				input#inputthumbnail(type="text" placeholder="Abstract Image", name="thumbnail")
				Span Abstract
				textarea#inputAbstract(placeholder="Post Abstract", name="abstract")
				hr
				button#btnSubmit(type="submit") submit