extends layout 

block content
	.row
		.large-6.columns
			h1= title
			form#formAddUser(name="addimage",method="post",action="/image/add")
				input#inputImageName(type="text", placeholder="Image Name", name="imagename")
				input#inputImagePath(type="text", placeholder="Image Path", name="imagepath")
				textarea#inputDescription(placeholder="Description", name="desc")
				hr
				button#btnSubmit(type="submit") submit