doctype html
html
	head
		title= title
		//meta tag used so view is responsive on mobile devices
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/stylesheets/foundation.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/custom.css')
		script(src="/javascripts/vendor/modernizr.js")
		script(src="/javascripts/vendor/jquery.js")
		script(src="/javascripts/custom/blog.js")
	body
		include ./includes/navbar.jade
		div.main_content
			block content    
		include ./includes/footer.jade