extends layout

block content
	.row
		.large-6.columns
			h1= title
			form#formUpdateBlog(name="updateBlog",method="post",action="update")
				input#inputPostNameOriginal(type="hidden", placeholder="Original Name", name="originalname", value="#{name}")
				span Post Name
				input#inputPostName(type="text", placeholder="Post Name", name="postname", value="#{name}")
				div
					span Category
					select#inputCategories(name="category")
						- each cat in categories
							if category == cat
								option#inputCategory(value"#{cat}", selected="selected") #{cat}
							else 
								option#inputCategory(value"#{cat}") #{cat}
				br
				Span Key Words
				input#inputKeywords(type="text", placeholder="Key Words", name="keywords" value="#{keywords}")
				Span Jade Path
				input#inputJadePath(type="text", placeholder="Jade Path", name="jadepath", value="#{jadepath}")
				Span Abstract Image Path
				input#inputThumbnail(type="text" placeholder="Abstract Image", name="thumbnail", value="#{thumbnail}")
				Span Abstract
				textarea#inputAbstract(placeholder="Post Abstract", name="abstract")
					| #{abstract}
				hr
				button#btnSubmit(type="submit") submit