extends layout

block content
	.row
		.large-6.columns
			h1= title
			form#formAddUser(name="eating_update",method="post",action="eating_update")
				span Location 
				input#inputPostName(type="text", placeholder="Location", name="loc")
				hr
				button#btnSubmit(type="submit") submit
