extends layout

block content
	.row
		.large-6.columns
			h1= title
			form#formUpdateUser(name="updatePost",method="post",action="updateselected")
				div
					span Choose A Blog
					select#inputpostTitle(name="name")
						- each title in titles
							option#inputCategory(value"#{title}") #{title}
				hr
				button#btnSubmit(type="submit") submit
