.row
	.large-9.columns(role='content')
		br
		P| Soon to be the home of a bible speed reading site! Using a combination of an ESV Bible API (www.esvapi.org) and the Spritz speed reading api (spritzinc.com), you will be able to lookup passages from the bible and read them in an efficient and memorable way! Coming Summer 2015
