.row
	.large-9.columns(role='content')
		div.blog-body
			div.space
			div.postAbstract.large-10.columns.new.template
				div.imgContainer
					img#thumbnail(src="http://placehold.it/70x70")
				div.postDesc
					div.top
						div.title A title
						div.category Missions is Hard
					br
					div.bottom
						p.abstract
							| Here is some abstract text it could be a few sentences, so I don't want to make this sample too short. Hopefully this will be plenty long, though I will need to try this with a short text as well
						div.tags
							span Tags: 
							span.taglist 
								for now this will just be a text string
	aside.large-3.columns.blog-sidebar
		h5 Categories
		ul.side-nav
			li
				a(href='#') Sermons
			li
				a(href='#') Missions is Hard
			li
				a(href='#') Technology and Software
			li
				a(href='#') Fun
		
		.panel
			h5 Description
			p
				| Enjoy some of my thoughts on ministry, technology,
				software development and everything in between. 
			//a(href='#') Read More &rarr;
script(src="/javascripts/custom/blog_body.js")
