.row
	.large-9.columns(role='content')
		br
		P| Coming January 2015! For now the basics are:
		ul
			li Email: Austin@austinbratcher.com
			li Phone: 281-840-0413
			li LinkedIn: https://www.linkedin.com/pub/austin-bratcher/7b/74a/813
			li Facebook: https://www.facebook.com/austin.bratcher
