.row
	.large-12.columns
		img(src='#{banner}')
		hr
.row
	.large-4.columns
		a(href='http://www.baylor.edu/truett/') 
			img(src='#{truett}' title='George W. Truett Seminary')
	.large-8.columns
		h4 A bit about me
		.row
			.large-6.columns
				p
					| Born and raised in Deer Park, TX, I am the product of two awesome parents, Ray and Pam, and the brother to a great sister, Audrey. Growing up I was supported by Deer Park First Baptist Church, and now that I reside in Waco, TX I have found my home in First Baptist Church Waco.
			.large-6.columns
				p
					| I have spent the last four years in Waco studying at Baylor University. In May 2014 I graduated with a BS in computer science. I now attend Truett Theological Seminary and work as a software developer for CBord.
.row
	.large-8.columns
		h4 Past and Future
		p
			| While in high school, I developed a passion for both computer science and Christian ministry. Ministry and computer science are often seen in two different worlds. I seek to bridge those gaps by seeking to gain a proficient knowledge in both ministry and all things software. God willing, I will use this skill to serve the kingdom in ministry in some capacity. 
	.large-4.columns.computerimg
		a(href='http://www.atlasobscura.com/places/barcelona-supercomputing-center') 
			img(src='#{computer}' title='Barcelona Super Computer')
