.row
	.large-9.columns(role='content')
		br
		P| Coming full swing summer 2015! For now here's a quick overview:
		ul
			li I am interested in most anything related to software development. Nearly every day I read the news just to see why kind of new technologies are coming out and how I might be able to use them. My most recent favorite is Docker (www.docker.com). 
			li I am passionate about Gospel ministry and all that comes with it (the practice and the formal study of it). 
			li I really enjoy studying how culture, technology, and ministry all interact. I highly suggest following the blog at www.donteatthefruit.com. John Dyer produces some pretty good stuff. 
			li I am a diehard Houston Astros fan. 
			li I also really enjoy Baylor sports. 
			li I enjoy most any outdoor activity, though sailing and cycling are probably my favorite. 
			li Cooking is one of my favorite things to do. I'll try out just about anything just to say I have. 
