.row
	.large-9.columns(role='content')
		br
		P| Coming January 2015! Just a quick overview:
		ul
			li I had the fortune of working with a church plant during the 2010-2011 school year where I served as a leader to the youth group and had the fortune to substitute preach. 
			li I Spent the summer of 2011 working in Olsztynek, Poland working as a ministry assistant. 
			li In the spring of 2012, I started an organization, Bears for Prayer, which was dedicated to 24 hour prayer for countries of the earth. We followed the calendar established by Operation World (www.operationworld.org). 
			li Between the fall of 2012 and spring of 2014 I served on the leadership team for the First Baptist Church Waco college group. 
			li In the spring of 2014, I had the unique opportunity to teach an introductory computer science course at Bell's Hill Elementary. While this might not come off as ministry, I very much see it as a way to empower kids for the next generation and be a positive figure in the life of kids. 
			li Beginning in the spring of 2014, I started attending George W. Truett Theological Seminary in Waco, Texas where I am seeking to obtain my MDiv with a concentration in missions and world Christianity. 
			li Through out the mix of it all, I've had numerous opportunities to preach, teach and lead, all of which I have taken great joy from and learned a tremendous amount from about what it means to serve in ministry. 
