.row
	.large-9.columns(role='content')
		br
		P| Coming January 2015! Just for a quick overview: 
		ul
			li I graduated from Baylor University with a degree in computer science in May of 2014.
			li For my senior design project, I had the fortune of working with a team to build a new learning management system oriented for computer science students. My role on the team was two fold. I served as the project manager and made sure our team was on task for the whole semester, and I worked on the sandboxing system that was a part of our website. To do this I used Docker containers (www.docker.com) to create environments that could be quickly created and destroyed while still protecting the host system. 
			li I have also had the fortune of teaching computer science. I spent the spring of 2014 teaching an introductory computer science course to 4th and 5th graders at Bell's Hill Elementary. In the process, I was also able to conduct research on the kids' reception to what I was teaching and create a poster presentation, which I won 3rd place for at the 2014 Association for Computer Educators in Texas Conference. 
			li I spent the summer of 2013 interning at Logos Bible Software (www.logos.com). While there I spent most of my time as a web developer  working on www.biblia.com or www.faithlife.com. 
			li Since June of 2014, I have worked at CBord Group Inc. where I work on various types of software (anything from web stuff to powershell scripts). 
			li Coming soon (probably summer 2015) I'll be working on a website to make a public bookshelf for seminary students. No body likes to buy a ton of textbooks for class, so I hope to make an environment where students can exchange books with each other for free. If all goes like I have envisioned, I'll trying out some new web dev tools Google is producing (www.polymer-project.org).
			li And I built this website! I've used a combination of Node JS, Mongo DB, Jade, and the Foundation CSS framework to make what you see. Check out https://bitbucket.org/Austin_Bratcher/austinbratcher.com/src to see how I've pieced it all together. 
