.row
	.large-9.columns(role='content')
		br
		P| Coming January 2015, I'll have a little bit more about my experience in both the software development realm as well as the Christian ministry realm. In the mean time, I've put a quick overview of my experience in each field. 
