.computerimg {
	margin-top: 50px;
}

.space {
	height : 50px;
}

.postAbstract {
	 background: #e2e2e2;
	 border-right: 1px solid #b8b8b8;
	 border-bottom:  1px solid #b8b8b8;
	 /*margin: 0 auto;*/
	 margin-bottom: 10px;
	 padding-right: 15px;
	 padding-top: 15px;
	 padding-bottom: 15px;
}

.blog-body.column:last-child{
	float:none;
} 
.postAbstract.new {
	position: absolute;
	left: 1500px;
}

.postAbstract {
	position: relative;
}
.template {
	display: none;
}

.postAbstract .imgContainer {
	float: left;
	/*display: inline-block;*/
	/*position: fixed;*/
}

.postAbstract .postDesc {
	margin-left: 80px;
}
.postAbstract .top {
	/*position: relative;*/
}
.postAbstract .top .title {
	float: left;
	font-size: x-large;

}
.postAbstract .top .category {
	float: right;
	font-size: medium;
	font-style: italic;
	color: rgb(115,115,115);
}

.postAbstract .bottom .abstract {
	margin-top: 5px;
	font-size: smaller
}

.postAbstract .bottom .tags {
	margin-top: 10px;
	font-size: smaller
}  
