article
	h3
		a(href='#') Our Call to be Creative
	h6
		| Written by 
		a(href='#') Austin Bratcher
		|  on September 21, 2014.
	p
		| It is an honor to get to preach before you here tonight. As a growing seminarian and minister of the Gospel, opportunities such as these are invaluable. Especially in a place with as much history as FBC Waco, I do not take these opportunities lightly. 
	p
		| While I do know many of you well, there are many I don’t know. To introduce myself briefly, I am a first year student at Truett and have recently graduated from Baylor with a degree in science. It is from this computer science background that I am really coming before you tonight. When I tell people that I am at truett and my undergrad was in computer science almost universally the first question is something along the lines of “How do those go together?” or “What made you change?” It is from these questions that I’d like to share what I’ve learned from this admittedly unusual intersection. I’d like to speak to you a moment on our call to create. 
	p
		| More often than not when we think of “creation” in the church, we think of God creating the world and mankind. We think about our creator. We think about who we should be as creations. Maybe some of our minds drift off to John 1 and we think of the Word being in the beginning. But in the middle of God creating us, there is a great command: a command to be fruitful. 
	p
		| The phrase fruitful is used all throughout scripture. We obviously hear it in the beginning in the Garden with God. It also shows in in places like Colossians 1, where Paul says we should “walk in a manner worthy of the lord, fully pleasing to him, bearing fruit in every good work and increasing in the knowledge of God.” This idea of being fruitful and increasing in knowledge of God are intricately linked. Our call to be fruitful is rooted at it’s very core in knowing our creator. 
	p
		| As a computer scientist or software developer, my whole job, as many jobs are, is to produce. I’m given an infinite playground of 1’s and 0’s and then told to go. I am suppose to make something, usually within a set of guidelines in reality, turn from my imagination into reality. In the realm of software development, your only real limit is your imagination. If you can think it, you can make it (usually with the help of Google as well!). Great products and things we all nearly consider vital in day to day life have come from this infinite sandbox. Your phones, cars, TVs, the internet, computers, all come from the imagination of a fellow human being. 
	p
		| I’m by no means advocating for you in the audience to become software developers (well, I am, but at least not right now!). There are so many other grand creative items that exist in the world. I am in awe of those who have the ability to paint or draw. Those who have the ability to create music from scratch are skilled far more than I. Researches who have to get creative in order to make a leap of faith to further their research really know what it means to be creative. Beyond these being out of my skill set, I just have the tendency to not think in that kind of a creative way. Our God has given us a(n unique) imagination to run wild with, to be fruitful with, to create with. 
	p
		| The computer scientist in me would love to end the sermon here. Short, simple, and I hope you’ve already got the idea of where I’m headed. But I think I’ll keep you hear a bit longer if you don’t mind and take a look at some scripture with you! The passage we are about to read comes after Nehemiah. I’ll be mentioning parts from all throughout the narrative, but I’ll hone in on 2:1-8. For a bit of context here, Nehemiah has heard that Jerusalem is in ruins, decaying quickly, and all around not in Good shape. Upon hearing this, Nehemiah weeps and mourns for days. After a solemn, humbling prayer where Nehemiah really leans into God, we read this: 
	p
		| In the month of Nisan, in the twentieth year of King Artaxerxes, when wine was before him, I took up the wine and gave it to the king. Now I had not been sad in his presence. And the king said to me, “Why is your face sad, seeing you are not sick? This is nothing but sadness of the heart.” Then I was very much afraid. I said to the king, “Let the king live forever! Why should not my face be sad, when the city, the place of my fathers’ graves, lies in ruins, and its gates have been destroyed by fire?” Then the king said to me, “What are you requesting?” So I prayed to the God of heaven. And I said to the king, “If it pleases the king, and if your servant has found favor in your sight, that you send me to Judah, to the city of my fathers’ graves, that I may rebuild it.” And the king said to me (the queen sitting beside him), “How long will you be gone, and when will you return?” So it pleased the king to send me when I had given him a time. And I said to the king, “If it pleases the king, let letters be given me to the governors of the province Beyond the River, that they may let me pass through until I come to Judah, and a letter to Asaph, the keeper of the king’s forest, that he may give me timber to make beams for the gates of the fortress of the temple, and for the wall of the city, and for the house that I shall occupy.” And the king granted me what I asked, for the good hand of my God was upon me.
		Nehemiah 2:1-8 (ESV)
	p
		| I grew up in Houston right along the gulf coast. I think if I tried hard enough I could have probably ridden my bike there in about 20 minutes. On occasion, a hurricane or tropical storm would decide to head our way and cause some havoc. When I was younger, Tropical storm Allison decided to make its way to houston and hang out for a few days. It rained for what seemed like days and by the end of it, we had at least a foot of water in our house. Nearly everyone on my street flooded. I distinctly remember the night the water came in. I looked out into our street and it looked more like the Brenda River instead of Brenda Drive. The day after came and we began the extensive process of cleaning and repairing our house. We had to rip out all the sheetrock up to my waist, replace all our carpet, and then some. My parents were beyond frustrated. As a kid, I was just miserable because I wasn’t able to stay in my own room, play with my own toys. The process took months to complete, but when it was done, we were all incredibly relieved. 
	p
		| Nehemiah was going into a similar situation. While there probably wasn’t any water damage or carpets to replace, the city as a whole laid in ruins. The house of his family was a wreck. It is no wonder he was devastated. 
	p
		| The first major thing Nehemiah does in the passage we read is address a problem. After being told of the depraved state his beloved Jerusalem is in, he is compelled to act by God. Think about leaving to go out of town only to find out your family’s house has been sacked. The roof has been torn off, the windows are broken, the house has been looted. What you have known as your home no longer exists. We wouldn’t think twice about calling the insurance company and getting our homes fixed right back up. For Nehemiah though, the processes wasn’t so easy. He had to go rebuild, recreate if you will, a whole gosh darn city. This is not something you just up and do. This is something God placed on his heart to do. God instilled in him the need to recreate the home of his family. He does not sit passively and wait for the next Joe to take care of the city. Nehemiah sees a need, and seeks to address that need with the power of God behind him. 
	p
		| In doing so, Nehemiah prays, a lot. The passage just before the one we read really is a great prayer in general, but I think it really speaks to Nehemiah's desire to be a servant of God. He humbly approaches God, speaking of the History of God’s work in Israel, and from that asks for success as a servant. Later, right before Nehemiah approaches the king, he shoots up one more little “Arrow prayer,” you know, one of those prayers you say when you pull into the parking lot and surely hope you get a spot close to the front. For me, it was always a prayer that I would get a hit when I played baseball. Nehemiah's was probably a bit bigger than for a parking spot or a hit. The text doesn’t even say what the prayer was, but the timing of it was impeccable. In the middle of Nehemiah’s dialogue with the king, it simple says “So I prayed to the God of heaven.” In the midst of, likely, the defining moment of his life, he seeks the Lord in a simple prayer. And thought the story we will continue to hear him do this over and over. Nehemiah continues to root what he does in the Lord. After talking to the king, verse 2:8 reads “And the king granted me what I asked, for the good hand of my God was upon me.” 
	p
		| Immediately after this, we actually get to see some of the brain child of Nehemiah. He has had a bit of time now since hearing of the destruction in jerusalem. Now it the time to throw his ideas out on the line. He has one shot to pitch this to the king, so in the midst of his sadness, he does. The king questions Nehemiah a bit. Like any good investor he is just making sure his funds are being put to good use. They go back and forth a bit. Nehemiah has to get some special permissions, but in the end his opportunity to create and his idea for his creation are approved. 
	p
		| Nehemiah is now off to the races. He’s got all he needs to rebuild the wall of Jerusalem, it is just a matter of getting it done. As Nehemiah has not seen the destruction first hand yet, he spends a few days surveying. Our call to create is not a blind one. At this point Nehemiah is probably giddy with excitement for what is about to go down. He’s got this big surprise up his sleeve that his is about to drop on the people there and just can’t wait to do it. Verse 12 said that he told no one about what God had called him to do. Think about if you were about to give someone an entire city for Christmas just how excited you would be to give it. But nehemiah takes his time to get his head around what has to be done. Rather than trying to rush his fruit, nehemiah takes the time to make sure his God backed creation will be done right. 
	p
		| Then comes probably my favorite line out of the story, “Let us rise up and build.” It just sounds like the line of a champion. It make me want to walk out of here and go build something with my own hands. It is a line of employment. Let us, all of us, come together to accomplish this. While there is an individual aspect to being a creator, there is a communal one as well. God gave mankind as a whole the order to create and be fruitful on top of what he already created. We too, in turn, can share our opportunity to create with those around us and employee others to partake in this God given gift. 
	p
		| I was fortunate enough to be a part of the trip to Nicaragua at the beginning of the summer. It was really a grand time. We had the fortune of working with a fella by the name of Loyd Miguel. Loyd is one wise man with a vision for reaching the Miskito people of Nicaragua. While Loyd is one heck of a preacher (I mean, really, the dude could turn a 5 minute conversation into a book of sermons if he wanted), he is well aware that this is not a task for him to do alone. Loyd relies not only on outside help from groups like ours at FBC Waco, he relies on the help of Nicaraguans right in the villages we went to. He prays that he will encounter people who want to know God and can be servants for the Mission of God in that village. Loyd prays for people to help me create the Church of Nicaragua. 
	p
		| Chapter 3 of Nehemiah is one of those long lists in the Bible our, or at least my, eyes tend to breeze over. It’s full of a lot of names that are hard to pronounce talking about locations that I am completely unfamiliar with. As a whole though, this passage gives us a good idea of how Nehemiah employed those in Jerusalem to move towards a fruitful creation. Name after name scrolls by in the list, each person working on a different part of the wall to restore it to its fullness. Each person took their place in line to serve with Nehemiah and his task to restore Jerusalem. 
	p
		| When the wall is finally finished, there is a huge celebration that takes place.We’ve recently experience the fun of completing a new stadium at Baylor. After months of planning and waiting, August 31 rolled around and everyone came together to celebrate this grand new building. Nehemiah’s celebration would have dwarfed it. Israelites who have been exiled to all around make the journey back because there city has been restored! Choirs were put together, sacrifices were made, and rejoicing took place. I particularly appreciate verse 12:43, “for God made them rejoice with great joy; the women and the children also rejoiced. And the joy of Jerusalem was heard from far away.” I enjoy making things. I enjoy creating things from scratch. I love piecing things back together. It is all to easy for me to take pride in these things and neglect to realize why am even have the ability to create as I do. The people had returned struggled with this as well. Nehemiah had to get a bit dirty trying to clean things up in the city to ensure its devotion to God. Nehemiah saw just how good the creation was, and he wanted to world to know that when it rejoiced, it was not out of pride, but out of a celebration for what  God had done. This is what we saw the whole time in Nehemiah’s story of creation. He regularly turns to God. He shoots up those arrow prayers, those longer humble prayers, and listens to the call God has put on his heart to be fruitful in his people. 
	p
		| And so the story ends. Jerusalem continues to be a part of history. People continuing on with their lives, and here we are a few thousand years later trying to soak it all up. It can be daunting. There is a whole gosh darn lot here. But in the end, I think we can take away a simple call, a call to create and in reality also recreate. In our day and age it is so easy just to become a consumer. We go to the store to get what we need for daily living. We listen to the news. We catch the Baylor game. I’m by no means denouncing these things. But it is easy to forget that we are not called to just be consumers. We are called to be a fruitful people. We are called to take what we have, be it a paintbrush, a saw, a computer, or an idea, and turn it into something the glorifies our good and Holy God. We are called to make things and rejoice in God though it all. We serve a God who took us, sinners before him, who think not like him, whose hearts are deceived, and created the opportunity for us to join him. He’s recreated and restored us. So in the middle of that, may we leave this place, reminded of our call to create and be fruitful to glorify our creative God. 
